<section class="full form-fix">
  <div class="login-menu rounded shadow container-fluid">
    <h3 class="text-center text-white"> Registrarme Como: </h3>
    <div class="row justify-content-around full-width">
      <div class="card col-3 cursor" (click)="openModal('cliente')">
        <img src="https://via.placeholder.com/300.png/09f/fff" class="card-img-top"
          alt="https://via.placeholder.com/300.png/09f/fff">
        <div class="card-body">
          <p class="card-text text-center">Cliente</p>
        </div>
      </div>
      <div class="card col-3 cursor" (click)="openModal('agencia')">
        <img src="https://via.placeholder.com/300.png/09f/fff" class="card-img-top"
          alt="https://via.placeholder.com/300.png/09f/fff">
        <div class="card-body">
          <p class="card-text text-center">Agencia Aduanal</p>
        </div>
      </div>
      <!-- <div class="card col-3 cursor" (click)="openModal('patio')">
        <img src="https://via.placeholder.com/300.png/09f/fff" class="card-img-top"
          alt="https://via.placeholder.com/300.png/09f/fff">
        <div class="card-body">
          <p class="card-text text-center">Patio de maniobras</p>
        </div>
      </div> -->
      <div class="col-12 text-center mt-5">
        <small> <a [routerLink]="[ '/login']">Ir a login</a> </small>
      </div>
    </div>
  </div>
</section>