<section class="container-fluid">
  <div class="row m-4">
    <h4 class="col-10">Servicios</h4>
  </div>
  <div class="container-fluid m-4">
    <div class="row m0">
      <mat-form-field class="offset-6 col-5" appearance="outline">
        <mat-label>Buscar</mat-label>
        <input #searchInput (change)="search(searchInput.value)" matInput>
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint align="end">presiona enter para buscar</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row m-0 mt-5">
    <table class="table table-hover col-12">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cliente</th>
          <th scope="col">Agente</th>
          <th scope="col">Patio</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor" (click)="serviceDetail(item.id)" *ngFor="let item of services" >
          <th scope="row"> {{item.id}} </th>
          <td>{{item.client}}</td>
          <td>{{item.vessel}}</td>
          <td> {{item.quotation}} </td>
          <td (click)="$event.stopPropagation(); delete(item)" > <span class="badge badge-danger">Eliminar</span> </td>
        </tr>
      </tbody>
    </table>
  </div>

</section>