<section class="container-fluid">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos Basicos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Info -->
      <div class="row">
        <mat-form-field class="col-auto">
          <input matInput placeholder="Cliente">
        </mat-form-field>
        <mat-form-field class="col-auto">
          <input matInput placeholder="ETA">
        </mat-form-field>
        <mat-form-field class="col-auto">
          <input matInput placeholder="Equipo">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-auto">
          <input matInput placeholder="Atn">
        </mat-form-field>
        <mat-form-field class="col-auto">
          <input matInput placeholder="Factura">
        </mat-form-field>
        <mat-form-field class="col-auto">
          <input matInput placeholder="Referencia">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-auto">
          <input matInput placeholder="Buque">
        </mat-form-field>
        <mat-form-field class="col-auto">
          <input matInput placeholder="Incoterm">
        </mat-form-field>
        <mat-form-field class="col-auto">
          <input matInput placeholder="Destino">
        </mat-form-field>
      </div>
      <div class="row mt-4">
        <mat-form-field class="col-auto">
          <input matInput placeholder="Valor Dolares">
        </mat-form-field>
        <mat-form-field class="col-auto">
          <input matInput placeholder="Valor Comercial">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-auto">
          <input matInput placeholder="Valor Flete">
        </mat-form-field>
        <mat-form-field class="col-auto">
          <input matInput placeholder="Gastos incrementales">
        </mat-form-field>
        <mat-form-field class="col-auto">
          <input matInput placeholder="Gastos de cambio">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-auto">
          <input matInput placeholder="Tipo de cambio">
        </mat-form-field>
        <mat-form-field class="col-auto">
          <input matInput placeholder="Valor en aduana">
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="mt-4"> <b>Tipo de Cuenta</b> </p>
  <mat-radio-group class="mt-2" aria-label="Tipo de cotizacion">
    <mat-radio-button value="A1">A1</mat-radio-button> <br>
    <mat-radio-button value="A4">A4</mat-radio-button>
  </mat-radio-group>
</section>