<section class="container-fluid">
  <div class="row m-4">
    <h4 class="col-10">Clientes</h4>
  </div>
  <mat-tab-group>
    <mat-tab label="Empresa"> 
      <app-client-data></app-client-data>
    </mat-tab>
    <mat-tab label="Usuarios"> 
      <app-client-users></app-client-users>  
    </mat-tab>
    <mat-tab label="Cotizaciones"> 
      <app-client-cotizaciones></app-client-cotizaciones>  
    </mat-tab>
    <mat-tab label="Servicios"> 
      <app-client-servicios></app-client-servicios>  
    </mat-tab>
  </mat-tab-group>
</section>