<section class="mt-5">
  <div class="row m-0 p-0">
    <div class="col-5">
      <input id="fileInpt" accept="image/*" (change)="getFile($event)" class="d-none" type="file">
      <div class="img-container">
        <button mat-fab class="edit-btn" (click)="clickFile('fileInpt')">
          <mat-icon>edit</mat-icon>
        </button>
        <img width="100%" id="imgTag" src="https://via.placeholder.com/300.png/09f/fff" alt="profile-img">
      </div>
    </div>
    <!-- form -->
    <div class="col-6 row" [formGroup]="firstFormGroup">
      <mat-form-field class="col-6">
        <input matInput placeholder="Nombre" formControlName="name">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput type="email" placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="website" formControlName="website">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="phone" formControlName="phone">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="bank_name" formControlName="bank_name">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="bank_account" formControlName="bank_account">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="bank_key" formControlName="bank_key">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="business_name" formControlName="business_name">
      </mat-form-field>
      <mat-form-field class="col-4">
        <input matInput placeholder="country" formControlName="country">
      </mat-form-field>
      <mat-form-field class="col-4">
        <input matInput placeholder="state" formControlName="state">
      </mat-form-field>
      <mat-form-field class="col-4">
        <input matInput placeholder="city" formControlName="city">
      </mat-form-field>

      <!-- <p class="col-12"> <b>Tipo de Cuenta</b> </p> -->
      <!-- <div class="col-12">
        <mat-radio-group aria-label="Select an option" formControlName="role">
          <mat-radio-button value="1">Adminsitrador</mat-radio-button> <br>
          <mat-radio-button value="2">Auxiliar</mat-radio-button>
        </mat-radio-group>
      </div> -->
    </div>
  </div>
  <!-- buttons -->
  <section class="row m-0 justify-content-end">
    <button type="button" class="mr-3 col-auto btn btn-success" (click)="editClient()" >Guardar</button>
  </section>
</section>